<h1>catalog.handlebars</h1>

  <div class='container-fluid'></div>
      <div class='row'>
        <div class='col-sm-2'>
     
            <ul class='sidebar-nav'>
              <li> 
                <a href='/catalog'> Home</a>
		</li>
            
            </ul>
        </div>
      </div>
  </div>